doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/semantic.min.css')
    link(rel='stylesheet', href='css/demo.css')
    link(rel='stylesheet', href='css/range.css')
    script(src='js/jquery.min.js')
    script(src='js/semantic.min.js')
    script(src="js/range.js")
    script(src="js/demo.js")
  body
    // Following Menu
    .ui.large.top.fixed.hidden.menu
      .ui.container
        //a.active.item Step 1
        //a.item Step 2
        //a.item Step 3
        //- .right.menu
        //-   .item
        //-     a.ui.primary.button Reset
    // Sidebar Menu
    .ui.vertical.inverted.sidebar.menu
      //a.active.item Home
      //a.item Work
      //a.item Company
      //a.item Careers
      //a.item Login
      //a.item Signup
    // Page Contents
    .pusher
      //- .ui.inverted.vertical.masthead.center.aligned.segment
        //- .ui.container
        //-   .ui.large.secondary.inverted.pointing.menu
        //-     a.toc.item
        //-       i.sidebar.icon
            //a.active.item Home
            //a.item Work
            //a.item Company
            //a.item Careers
            //- .right.item
            //-   a.ui.inverted.button Reset
              //a.ui.inverted.button Sign Up
      //-   .ui.text.container
      //-     img.ui.inverted.header(src="images/logo.png")
      //-     h2
      //-       | Connected Contracting 
      //-       sup TM
      //-     .ui.huge.primary.button
      //-       | Get Started 
      //-       i.right.arrow.icon
      //- .ui.vertical.stripe.segment
      //-   .ui.middle.aligned.stackable.grid.container
      //-     .row
      //-       .eight.wide.column
      //-         h3.ui.header We Help Companies and Companions
      //-         p
      //-           | We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.
      //-         h3.ui.header We Make Bananas That Can Dance
      //-         p
      //-           | Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.
      //-       .six.wide.right.floated.column
      //-         img.ui.large.bordered.rounded.image(src="images/wireframe/square-image.png")
      //-     .row
      //-       .center.aligned.column
      //-         a.ui.huge.button Check Them Out
      //- .ui.vertical.stripe.quote.segment
      //-   .ui.equal.width.stackable.internally.celled.grid
      //-     .center.aligned.row
      //-       .column
      //-         h3 "What a Company"
      //-         p That is what they all say about us
      //-       .column
      //-         h3 "I shouldn't have gone with their competitor."
      //-         p
      //-           img.ui.avatar.image(src="images/avatar/tom.jpg")
      //-           b Nan
      //-           |  Chief Fun Officer Acme Toys
      .ui.vertical.stripe.segment
        .ui.text.container
          .ui.four.top.attached.steps
            .active.step#step1
              i.file.outline.icon
              .content
                .title Step 1
                .description Deploy your contract
            .step#step2
              i.ship.icon
              .content
                .title Step 2
                .description Start the shipment
            .step#step3
              i.thermometer.half.icon
              .content
                .title Step 3
                .description Submit sensor readings
            .step#step4
              i.flag.checkered.icon
              .content
                .title Step 4
                .description Shipment complete
          .ui.segment#step1segment
            p This is step 1
            p API URL from clause.io
            .ui.action.input
              input(type="text" value="")
              button.ui.button
                | Submit
            .ui.hidden.divider
            .ui.right.labeled.icon.button.blue(onclick='nextStep()')
              i.right.arrow.icon
              | Next
          .ui.segment#step2segment
            p This is step 2
            button.ui.button(onclick='undoSetupDemo()')
              | Reset Demo
            p Shipment name
            .ui.action.input
              input(type="text" value="SHIP_001")
              button.ui.button(onclick='setupDemo()')
                | Create
            .ui.hidden.divider
            .ui.labeled.icon.button(onclick='backStep()')
              i.arrow.left.icon
              | Back
            .ui.right.floated.labeled.icon.button.blue(onclick='nextStep()')
              i.right.arrow.icon
              | Next
          .ui.segment#step3segment
            p This is step 3
            .ui.two.cards
              .ui.fluid.card#newReading
                .content
                  .header
                    | New Reading
                  .meta
                    | 
                  .description
                    .label 
                      | Temperature
                    .ui.range#newTemp
                    .label 
                      span#display-temp
                      | &deg;C
                    label 
                      | Humidity
                    .ui.range#newHumidity
                    .label 
                      span#display-humidity
                      | %
                  .extra.content
                    .ui.hidden.divider
                    .ui.buttons
                      .ui.right.floated.basic.green.button#addNewReading(onclick='addReading()')
                        | Add
            .ui.hidden.divider
            .ui.labeled.icon.button(onclick='backStep()')
              i.arrow.left.icon
              | Back
            .ui.right.floated.labeled.icon.button.blue(onclick='nextStep()')
              i.right.arrow.icon
              | Next
          .ui.segment#step4segment
            p This is step 4
            .ui.labeled.icon.button(onclick='backStep()')
              i.arrow.left.icon
              | Back
            .ui.right.floated.labeled.icon.button.red(onclick='resetDemo()')
              i.right.arrow.icon
              | Reset
          //- h3.ui.header Breaking The Grid, Grabs Your Attention
          //- p
          //-   | Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
          //- a.ui.large.button Read More
          //- h4.ui.horizontal.header.divider
          //-   a(href="#") Case Studies
          //- h3.ui.header Did We Tell You About Our Bananas?
          //- p
          //-   | Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
          //- a.ui.large.button I'm Still Quite Interested
          .ui.hidden.negative.small.message#errorMessage
            i.close.icon
            .header
              | An error occured while communicating with the Blockchain
            p
              | 
      .ui.inverted.vertical.footer.segment
        .ui.container
          .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
              h4.ui.inverted.header About
              .ui.inverted.link.list
                a.item(href="#") Sitemap
                a.item(href="#") Contact Us
                a.item(href="#") Religious Ceremonies
                a.item(href="#") Gazebo Plans
            .three.wide.column
              h4.ui.inverted.header Services
              .ui.inverted.link.list
                a.item(href="#") Banana Pre-Order
                a.item(href="#") DNA FAQ
                a.item(href="#") How To Access
                a.item(href="#") Favorite X-Men
            .seven.wide.column
              h4.ui.inverted.header Footer Header
              p
                | Extra space for a call to action inside the footer that could help re-engage users.