<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h3 class="ui header" id="deploy">Deploy your Smart Legal Contract</h3>
        <p>Before you can start you need to create your legal contract.</p>
        <p>Don't worry the lawyers have already done the hard bit! Just click the button below and follow the instructions. We'll see you again in a few minutes!</p>
        <a class="ui large button green">Draft your contract on Clause.io</a>
        
        <div class="ui divider"></div>
        <h3 class="ui header" id="welcomeback">Welcome back!</h3>
        <p>Do you have your URL now? Great! Just paste it in the box below and we'll do the rest for you.</p>
        <div class="ui fluid icon input" [ngClass]="{'error': urlStatus === 'INVALID', 'loading': urlStatus === 'LOADING','disabled': urlStatus === 'VALID'}">
            <input type="text" placeholder="Your execution URL from Clause"  [(ngModel)]="service.data.shipment.smartClause" (ngModelChange)="validateClauseURL($event)">
            <i class="icon" [ngClass]="{'green': urlStatus === 'VALID', 'check': urlStatus === 'VALID'}"></i>
        </div>
        <div class="ui error message" [hidden]="urlStatus !== 'INVALID'">
            <i class="close icon"></i>
            <div class="header">
            Oops, that doesn't look right.
            </div>
            Please step through the instructions on Clause.io carefully and then come back to try again.
        </div>
        <div class="ui small centered list">
            <a class="item">
                <i class="icon" [ngClass]="{'minus': setupStep === 0, 'times': setupStep === -1, 'red': setupStep === -1, 'check': setupStep >= 2, 'green': setupStep >= 2}"></i>
                <div class="content"><div class="description">Does your contract look good?</div></div>
            </a>
            <a class="item">
                <i class="icon" [ngClass]="{'minus': setupStep >= 0 && setupStep <= 2, 'times': setupStep === -2, 'red': setupStep === -2, 'check': setupStep >= 3, 'green': setupStep >= 3}"></i>
                <div class="content"><div class="description">Is your Blockchain is up?</div></div>
            </a>
            <a class="item">
                <i class="icon" [ngClass]="{'minus': setupStep >= 0 && setupStep <=3, 'times': setupStep === -3, 'red': setupStep === -3, 'check': setupStep >= 4, 'green': setupStep >= 4}"></i>
                <div class="content"><div class="description">Invited the grower to the Blockchain network</div></div>
            </a>
            <a class="item">
                <i class="icon" [ngClass]="{'minus': setupStep >= 0 && setupStep <=4, 'times': setupStep === -4, 'red': setupStep === -4, 'check': setupStep >= 5, 'green': setupStep >= 5}"></i>
                <div class="content"><div class="description">Invited the importer to the Blockchain network</div></div>
            </a>
            <a class="item">
                <i class="icon" [ngClass]="{'minus': setupStep >= 0 && setupStep <= 5, 'times': setupStep === -5, 'red': setupStep === -5, 'check': setupStep >= 6, 'green': setupStep >= 6}"></i>
                <div class="content"><div class="description">Added the Shipment to the the Blockchain</div></div>
            </a>
        </div>
        <div class="ui error message" id="errorMessage">
            <i class="close icon"></i>
            <div class="header">
            Uh oh! Something went wrong.
            </div>
            <div class="description"></div>
        </div>
    </div>
    
</div>
         
<div class="ui basic segment">
    <div class="ui three doubling special cards centered">
            <div class="ui card blurring dimmable" [ngClass]="{'dimmed':setupStep < 4}">
                <div class="ui dimmer"></div>
                <div class="image">
                    <img src="/assets/images/grower.jpg">
                </div>

                <div class="content">
                    <a class="header">Grower</a>
                    <div class="description">
                        <div class="label">
                                Account Balance
                        </div>
                        <div class="ui middle aligned selection list huge">
                            <div class="item big">
                                <i class="large dollar sign middle aligned icon"></i>
                                <div class="content">
                                    <div class="header">{{service.data.grower.accountBalance}}</div>
                                </div>
                            </div>
                            <div class="item big"> </div>
                        </div>                   
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                    </div>
                </div>
            </div>
            <div class="ui card blurring dimmable" [ngClass]="{'dimmed':setupStep < 6}">
                <div class="ui dimmer"></div>
                
                <div class="image">
                    <img src="/assets/images/port.jpg">
                </div>
                <div class="content">
                    <div class="right floated meta">
                        <div class="ui label green basic">
                            {{service.statusString()}}
                        </div>
                    </div>
                    <div class="header">Shipment</div>
                    <div class="description">
                        <div class="label">
                            Current Readings
                        </div>        
                        <div class="ui label huge right floated">{{readingCounter}}</div>            
                        <div class="ui middle aligned selection list huge">
                            <div class="item">
                                <i class="big thermometer half middle aligned icon"></i>
                                <div class="content">
                                    <div class="header">{{service.data.shipment.currentTemp}} &deg;C</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="big tint middle aligned icon"></i>
                                <div class="content">
                                    <div class="header">{{service.data.shipment.currentHumidity}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content "> 
                    <div class="ui two buttons">
                        <div class="ui green button" [ngClass]="{'disabled':setupStep < 6}" (click)="showAddReadingModal()">Add Sensor Reading</div>
                    </div>
                </div>
            </div>
            <div class="ui card blurring dimmable" [ngClass]="{'dimmed':setupStep < 5}" >
                <div class="ui dimmer"></div>
                

                <div class="image">
                        <img src="/assets/images/importer.jpg">
                </div>
                <div class="content">
                    <a class="header">Importer</a>
                    <div class="description">                       
                        <div class="label">
                            Account Balance
                        </div>
                        <div class="ui middle aligned selection list huge">
                            <div class="item big">
                                <i class="large dollar sign middle aligned icon"></i>
                                <div class="content">
                                    <div class="header">{{service.data.importer.accountBalance}}</div>
                                </div>
                            </div>
                            <div class="item big"></div>
                        </div>                                
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui blue button" [ngClass]="{'disabled':setupStep !== 7}" (click)="sendReceived()">Accept Shipment</div>
                    </div>
                </div>
            </div>
        </div>      
</div>

<div class="ui modal" id='new-reading-modal'>
    <i class="close icon"></i>
    <div class="header">
        New Sensor Reading
    </div>
    <div class="content">        
        <div class="description">
        <div class="ui header">We're guessing that you don't have a shipping container data logger to hand?</div>
        <p>It's ok, we'll just simulate some data with the form below.</p>
        <div class="label">Temperature</div>
            <div class="ui right labeled input">
            <input type="text" [(ngModel)]="service.data.shipment.currentTemp">
            <div class="ui basic label">&deg;C</div>
            </div>
            <div class="label">Humidity</div>
            <div class="ui right labeled input">
            <input type="text" [(ngModel)]="service.data.shipment.currentHumidity">
            <div class="ui basic label">%</div>
            </div>     
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
        Cancel
        </div>
        <div class="ui positive right labeled icon button" (click)="addReading()">
        Add Readings
        <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui basic segment">
    <h2 class="ui header">Blockchain Overview</h2>
    <div  class="ui eight cards doubling ">
        <div *ngFor='let block of service.data.historian; let i = index' [attr.data-index]="i" class="ui blue card">
            <div class="content">
                <i class="right floated linkify icon"></i>
                <div class="header">Block {{i}}</div>
                <div class="meta">
                    <span>{{fromNow(block.transactionTimestamp)}}</span>
                </div>
            </div>
            <div class="extra content">
            <div class="right hash">
                {{block.transactionId}}
            </div>
            </div>
        </div>
    </div>
</div>
<div class="ui divider"></div>